@CHARSET "UTF-8";
body {
	padding: 0px;
}
.header {
	position: fixed;
	top: 0;
	left: 0px;
	right: 0px;
	z-index: 2000;
}
#main-container {
	width: 100%;
	height: 100%;
	position: absolute;
	padding-top: 45px;
	overflow-x: hidden;
}
.contents-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
#menu-wrapper {
	width: 250px;
	height: 100%;
	overflow-y: auto;
}
.contents {
	position: relative;
	height: 100%;
	overflow-y: auto;
}

/* MENU */
#menu-wrapper li.title {
	padding: 0 5px;
	font-weight: bold;
}
#menu-wrapper li > a {
	display: block;
	width: 100%;
	line-height: 30px;
	padding: 0 12px;
	overflow: hidden;
	white-space: nowrap;
}

.edit, .editing .view {
	display: none;
}
.editing .edit {
	display: block;
}
.editing .btn.edit {
	display: inline;
}
.btn-link.btn-delete {
    color: #d9534f;
}
.btn-link.btn-delete:hover {
	color: #c9302c;
}
input[type=text] {
	text-transform: uppercase;
}
#username {
	text-transform: inherit;
}