@CHARSET "UTF-8";
#main-container {
	margin-top: 10px;
}
#menu-wrapper ul {
	padding-top: 5px 0px;
}
#menu-wrapper ul li {
	border-right: solid 1px silver;
	padding: 10px;
}
#menu-wrapper ul li.active {
	background-color: red;
	padding-left: 15px;
}