@CHARSET "ISO-8859-1";

body {
	padding: 10px 0px;
}

body:before { 
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}

.navbar-default {
	background: #fff;
}

.edit, .editing .hidden_on_editing {
	display: none;
}
.editing .edit {
	display: block;
}

/*.estructuraie-nivel.edit > .editbtn, 
.estructuraie-nivel.edit > .desc, .estructuraie-nivel.edit > .addgradobtn, 
.estructuraie-nivel.edit > .removenivelbtn,
.estructuraie-nivel {}
.estructuraie-nivel > input, 
.estructuraie-nivel.edit > .hidden_on_editing {
	display: none
}
.estructuraie-nivel.edit > input {
	display: block
}*/

.seccion {
	padding: 10px 0px 10px 0px;
	background: #f7f7f9;
}
.seccion .seccion-header, .opcion { padding: 5px 0px 5px 0px; }
.criterio {
	padding: 5px 0px 5px 0px;
	background: #fff;
}




/****/
.seccion-monitoreo {
	border-top: solid 2px silver;
}
.criterio-monitoreo {
	border-top: solid 1px silver;
}
.criterio-monitoreo:hover,
.opcion-monitoreo:hover {
	background: #f1f1f1;
}


/***/
.custom-nav li {
	background: transparent;
	border-bottom: solid 2px transparent;
}
.custom-nav li:hover, .custom-nav li.active {
	border-bottom: solid 2px #2a6496;
}
.custom-nav li.active > a,
.custom-nav li > a:hover,
.custom-nav li.active > a:hover {
	background: transparent;
	color: #2a6496;
}

li > ul.list-unstyled > li {
	padding: 2px 0px 2px 4px;
}

li > ul.list-unstyled > li.active a {
	color: #000;
}
.menu a:hover {
	text-decoration: none;
}

.login-box {
	width: 500px;
	border: solid 1px #f1f1f1;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}
.login-box-head {
	padding: 10px 10px;
	background: #428bca;
	color: #fff;
}
.login-box-body {
	padding: 10px 10px;
}